body {
    font-family: Lato, Roboto, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    padding: 0;
    margin: 0;
}

table {
    width: 100%;
    table-layout: fixed;
    box-sizing: border-box;
    border-spacing: 1em 0;
}

tbody * {
    overflow-x: auto;
    box-sizing: border-box;
}

tr:hover td {
    border-bottom: solid .25em rgb(255, 54, 175);
}

tr:active td {
    border-bottom: solid .25em rgb(255, 54, 175);
}

th {
    padding: 1em;
    text-align: center;
    border-bottom: solid .25em rgb(255, 54, 175);
}

td {
    height: 2em;
    padding: .75em 0;
}

.matched_range {
    background-color: #90EE90;
}

.weak_match {
    color: rgba(0, 0, 0, 0.38);
}
