body {
    padding: 0;
    margin: 0;
}

.wrapper {
    font-family: Lato, Roboto, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

table {
    width: 100%;
    table-layout: fixed;
    box-sizing: border-box;
    border-spacing: 1em 0;
}

tbody > * {
    overflow-x: auto;
    box-sizing: border-box;
}

th {
    padding: 1em;
    text-align: center;
    border-bottom: solid .25em rgb(255, 54, 175);
}

td {
    height: 2em;
    padding: .75em 0;
}

.matched_range {
    background-color: #90EE90;
    display: inline-block;
    padding: .25em;
    margin: .25em 0;
}

.drunk_indicator {
    color: white;
    background-color: rgb(255, 54, 175);
    display: inline-block;
    padding: .25em;
    margin: .25em 0;
}

.selection_bar {
    background-color: rgb(255, 54, 175);
    height: .25em;
    width: 100%;
    margin-top: .25em;
    visibility: hidden;
}
